* {
  font-family: "Courier New", Courier, monospace;

}

body { 
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
}



main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;
}

main p {
margin: 40px;
}

#choices{
  list-style: none;
  display: none;
  
}

.answer{
  /* background-color: rgb(5, 146, 182); */
  opacity: 80%;
}

main form{
display: none;
}

#scores{
  display: flex;
  list-style: none;
  
}

#scores li{
color: black;
background-color: antiquewhite;
}